
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        /* General Reset */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
     /* develope by kavya trivedi */
        body {
            font-family: "Poppins", serif;
            font-weight: 100;
            background-color: #F9F9F9;
            color: #333;
            line-height: 1.6;
        }

     /* develope by kavya trivedi */
        header {
            background-color: #540579;
            color: #fff;
            padding: 1rem 2rem;
            text-align: center;
        }

        header h1 {
            font-size: 2rem;
        }

        main {
            max-width: 900px;
            margin: 2rem auto;
            padding: 1rem;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.596);
        }

     /* develope by kavya trivedi */
        .section-title {
            margin-bottom: 1rem;
            font-size: 1.5rem;
            color: #540579;
            border-bottom: 2px solid #540579;
            display: inline-block;
        }

        /* Contact Form */
       
        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            color: #4b4646;
            font-weight: bold;
        }

     /* develope by kavya trivedi */
       
